<%-include('base_header') -%>
    <ul class="ul-prof">
        <% for(var i=0; i< lista_perfil.length; ++i) { %>
            <li class="li-sobre">
                <!--criei uma classe para facilitar na estilização, e diferenciar das minhas li e ul-->
                <span class="descritor">Nome:</span>
                <%=lista_perfil[i].nome %><br />
                    <span class="descritor">Idade:</span>
                    <%=lista_perfil[i].idade %><br />
                        <span class="descritor">Linguagens:</span>
                        <%=lista_perfil[i].linguagens %> <br />
                            <span class="descritor">Contato:</span>
                            <%=lista_perfil[i].contato %> <br />
            </li>
            <% } %>
    </ul>
    <%- include('base_footer') -%>